
  <h4>Transport Facility Management</h4>
  <button type="button" id="addRide" (click)="onClickOpenForm()">
      Add a Ride
  </button>
  &nbsp;&nbsp;
  <button type="button" id="bookRide" (click)="showDetails()">
      Schedule a Ride
  </button>
  
  <br/>
  <br/>


  
  <div [hidden]="!openform" class="col-xl-6" style="font-size: 14px;">
    <form #myForm = "ngForm" [formGroup]="form" (ngSubmit)="onSubmitForm()">
      <table>
        <tr>
          <td>
            <b>Employee Id:</b>
          </td>
          <td>
            <input type="text" name="empId" formControlName="empId">
          </td>
        </tr>
        <tr>
          <td>
            <b>Vehicle Type: </b>
          </td>
          <td>
            <select name="vehicleType" id="vehicleType" formControlName="vehicleType">
              <option value="Car">Car</option>
              <option value="Bike">Bike</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <b>Vehicle Number: </b>
          </td>
          <td>
            <input type="text" name="vehicleNumber" formControlName="vehicleNumber">
          </td>
        </tr>
        <tr>
          <td><b>Vacant Seats: </b></td>
          <td><input type="number" name="vacantSeats" formControlName="vacantSeats"></td>
        </tr>
        <tr>
          <td>
            <b>Time: </b>
          </td>
          <td>
            <input type="time" name="time" formControlName="time">
          </td>
        </tr>
        <tr>
          <td>
            <b>Pick up point: </b>
          </td>

          <td>
            <textarea  name="pickUpPoint" rows="4" cols="20" formControlName="pickUpPoint"></textarea>
          </td>       
          </tr>
          <tr>
            <td>
              <b>Destination: </b>
            </td>
            <td>
              <textarea  name="destination" rows="4" cols="20" formControlName="destination"></textarea>
            </td>
          </tr>
          <tr>
            <button [disabled]="!myForm.form.valid" type="submit">Submit</button>
          </tr>
      </table>
</form>
  
  
  
</div>
<div [hidden]="!showMessage1">
<h4>{{message}}</h4>
</div>
<div [hidden]="!openDetail">
  <label for="empId">Enter your Employee Id:</label>
  <input type="search" #searchValue > 
    <button (click)="showRideDetails(searchValue)">Submit</button>
</div>

<br/>
  <div [hidden]="!showData">
    Filter By Vehicle Type: <select name="vehicleType" #vehicleType  (change)='onOptionsSelected(vehicleType.value)'>--Choose your type --
      <option value="Car">Car</option>
      <option value="Bike">Bike</option>
    </select>
    <br/>
    <table> 
      <tr>
        <th>Employee Id</th>
        <th>Vehicle Type</th>
        <th>Vehicle Number</th>
        <th>Time</th>
        <th>Vacant Seats</th>
        <th>Pick Up Point</th>
        <th>Destination</th>
      </tr>
      

      
      <tr *ngFor="let i of details"> 
          
            <td>{{i.empId}}</td>
            <td>{{i.vehicleType}}</td> 
            <td>{{i.vehicleNumber}}</td>
            <td>{{i.time}}</td>
            <td>{{i.vacantSeats}}</td>
            <td>{{i.pickUpPoint}}</td>
            <td>{{i.destination}}</td>
            <td><button (click)="updateDetails(i,searchValue)">Book</button></td>
         
          
       
      </tr>
  
    </table>
  <!-- <div *ngIf="details.length == 0">
      No rides available for you !
  </div> -->
  
</div>
<div [hidden]="!showMessage2">
  <h4>{{message}}</h4>
  </div>